.form-card > h4 {
  color: Gray;
  margin-left: -21px;
}

.upload-err {
  color: red;
  font: 12px Verdana;
  float: right;
  margin: 5px 13px;
}

.upload-ok {
  color: green;
  font: 12px Verdana;
  float: right;
  margin: 5px 13px;
}
